.column
{
    float:left;
}

body {	
    font-family: 'Rokkitt';
	background: url(../images/background.png) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

img[alt="TSportsLogo"] {
	width: 150px;
	margin-left: 38%;
}

#header {
	margin-top: 0;
	text-align: center;
	color: #000d33;
}

form {
	background: url(../images/regis-background.png) no-repeat;
	background-size: cover;
	padding: 70px;
	margin: auto;
	margin-top: 15%;
	width: 550px;
	position: relative;
	border-radius: 12px;

}

select {
    border-radius: 4px;
	margin-right: 80%;
	margin-top: 5px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
}

select.unit {
	margin-left: 222px;
}

textarea {
    max-width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
	margin-top: 5px;
}

fieldset {
    border: 1px solid #ccc;
    margin: 3rem 0;
}

input, textarea, select, option {
    border: 2px solid #ccc;
    padding: 0.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16pt;  
}

input:focus
{
    background-color: lightblue;
}


label {
    cursor: pointer;
    display: block;
    margin: 2rem 0;
}

label:first-child {
    margin-top: 0;
}

label:after {
    clear: both;
    display: table;
    content: " ";
}

label span.label {
	position: absolute;
    float: left;
    display: block;
    width: 15rem;
	font-size: 120%;
    font-weight: bold;
	left: 30;
}

label span.error {
    color: red;
    padding-left: 1rem;
}

input[type="text"] {
	margin-top: 5px;
	width: 60%;
	left: 0;
}

input[type="radio"] {
	margin-top: 10px;
}

input[name="height"], input[name="weight"]{
	position: absolute;
	margin-left: 70px;
	width: 30%;
}


input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    padding: 0.5rem 2rem;
    /*margin-left: 10rem;*/
    font-size: 16pt;
}

input[type="reset"]:hover {
    background-color: #f3f3f3;
}

input[type="reset"]:active {
    border-color: #999;
    background-color: #ccc;
}

input[type="submit"] {
    background-color: #555555; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="submit"]:hover {
    background-color: #008CBA; /* Blue */
    color: white;
}

input[type="submit"]:active {
  background-color: #008CBA;/* Blue */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* STYLING FIELDS WITH ERRORS */
/* New pseudo-classes to style fields that have an error: */
/* :valid, :invalid, :required, :optional, :in-range, :out-of-range */
input:invalid {
  outline: 2px solid red;
  background-color: #FFC6B3;
}

#sportsLabel
{
    font-weight: bold;
}

#SportsFieldset > article > ul > li
{
    margin:0px;
    list-style-type: none;
}
#SportsFieldset > article
{
    padding-left: 3%;
}


/* Responsive design */
@media screen and (max-width: 720px) {
	
	form {
		width: 310px;
	}
	
	img[alt="TSportsLogo"] {
		margin-left: 30%;
	}
	
	select.unit {
		margin-left: 150px;
	}
	
}

@media screen and (max-width: 480px) {
	form {
		width: 235px;
	}
	
	img[alt="TSportsLogo"] {
		margin-left: 22%;
	}
	
	select.unit {
		margin-left: 130px;
	}
	
	#SportsFieldset > article
	{
		padding-left: 0%;
		left: 0;
	}
	
}